{% extends 'base/base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на Ваше усмотрение -->
        </div>
        <div class="col-lg-10">
            <div class="my-5 pt-5 text-primary px-2 pb-2 bg-white custom-shadow rounded">
  
                <h2 class="m-2"><strong>About us</strong></h2>
                <p class="m-2" style="font-size: 1.2rem;">{{about_us}}.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}