{% include 'base/header.html' %}
{% include 'base/navbar.html' %}

{% load static %}
{% load products_tags %}
<body>
    <section>
        <div class="container">
            <!-- Каталог и корзина с фиксированным расположением на странице -->
            <div class="row mt-1 position-fixed z-3">
                <!-- Каталог -->
                <div class="dropdown mb-2">
                    <button class="btn btn-primary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Catalogue
                        <img class="mx-1" src="{% static 'deps/icons/grid-fill.svg' %}" alt="Catalog Icon" width="16"
                            height="16">
                    </button>
                    <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
                        {% category_tags as categories %}
                        {% for categorie in categories %}
                        <li class="dropdown-item"><a href="{% url 'products:catalog' categorie.slug %}" class="text-decoration-none text-white">{{categorie.name}}</a></li>
                        {% endfor %}
                        <hr class="dropdown-divider">
                       
                    </ul>
                </div>
                <!-- Значек корзины, вызывает модальное окно -->
              
             
               {% block modal_cart %}
               
               
               {% endblock %}
                <!-- Закончилась разметка модального окна -->
            </div>
        </div>
        <!-- Контент -->
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Пустой блок на Ваше усмотрение -->
                </div>
                <div class="col-lg-10">
                    <!-- Контент на странице -->
                    {% include 'includes/notification.html'%}
                    {% block content %}

                    {% endblock %}
                  
                    
                </div>
            </div>
        </div>
        
    </section>
    

{% include 'base/footer.html' %}