<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main:index' %}">Accueil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Informations
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-white" href="#">Livraison et Paiement</a></li>
                            <li><a class="dropdown-item  text-white" href="#">Coordonnées</a></li>
                            <li><a class="dropdown-item  text-white" href="{% url 'main:about' %}">A propos de nous</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="{% url 'users:cart-user' %}">Panier</a>
                    </li>
                    {% if not user.is_authenticated  %}
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="{% url 'users:login' %}">Se connecter</a>
                    </li>
                    
                    {% else %}
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mon profil
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-white" href="{% url 'users:cart-user' %}">Panier</a></li>
                            <li><a class="dropdown-item  text-white" href="{% url 'users:profile' %}">Informations personelles</a>
                            </li>
                            {% if user.is_admin or user.is_staff %}
                            <li><a class="dropdown-item  text-white" href="{% url 'admin:index' %}">Tableau admin</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item  text-white" href="{% url 'users:logout' %}">Deconnexion</a></li>
                        </ul>
                         <li class="nav-item">
                        <a class="nav-link text-white"><span class="text-success text-capitalize mx-2"> {{ user.username }}</span>est connecté</a>
                        </li>
                    </li>
                    {% endif %}

                   
                   
                </ul>
                
                <form class="d-flex" role="search" action="{% url 'products:search' %}" method="get">
                    <input class="form-control me-2" name="qsearch" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-success text-white" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    </nav>
</header>