<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main:index' %}">Accueil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Informations
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-white" href="#">Livraison et Paiement</a></li>
                            <li><a class="dropdown-item  text-white" href="#">Coordonnées</a></li>
                            <li><a class="dropdown-item  text-white" href="{% url 'main:about' %}">A propos de nous</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="">Panier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="">Se connecter</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mon profil
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-white" href="">Panier</a></li>
                            <li><a class="dropdown-item  text-white" href="">Informations personelles</a>
                            </li>
                            <li><a class="dropdown-item  text-white" href="#">Tableau de bord</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item  text-white" href="#">Deconnexion</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-success text-white" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    </nav>
</header>