<!DOCTYPE html>
<html lang="en">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css files-->
    <!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icons/bootstrap-icons.css' %}">

    <!-- favicon for differents platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/favicon/favicon-16x16.png' %}" sizes="16x16" type="image/png">
    <link rel="icon" href="{% static 'assets/favicon/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <link rel="manifest" href="">
    <title>{{title}}</title>
</head>
<body>