<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main:index' %}">Accueil</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarContent" 
           aria-controls="navbarContent" aria-expanded="false" 
           aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li  class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Informations
                 </a>
                 <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">Livraison et Paiement</a></li>
                    <li><a href="#" class="dropdown-item">Coordonnées</a></li>
                    <li><a href="{% url 'main:about' %}" class="dropdown-item">A propos de nous</a></li>                    
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Panier</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Se connecter</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" 
                data-bs-toggle="dropdown" href="#" 
                role="button" aria-haspopup="true"
                 aria-expanded="false">
                 Mon profil
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Panier</a></li>
                    <li><a class="dropdown-item" href="#">Informations personelles</a></li>
                    <li><a class="dropdown-item" href="#">Tableau de bord</a></li>
                   <li> 
                    <div class="dropdown-divider"></div>
                   </li>

                    <li><a class="dropdown-item" href="#">Deconnexion</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Recherche">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
            </form>
          </div>
        </div>
      </nav>
</header>