{% extends 'base/base.html' %}
{% load static %}
{% load products_tags %}

{% block modal_cart %}
    {% include 'includes/cart_button.html'%}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-2">
            <!-- Пустой блок на усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            <div class="row">
                <!-- Форма фильтров -->
                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Filtres
                    </button>
            
                    <form action="{% if request.GET.qsearch %}{% url 'products:search' %}{% else %}{% url 'products:catalog' slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == "on" %}checked{% endif %}>
                            {% if request.GET.qsearch %}
                                <input type="hidden" name="qsearch" value="{{ request.GET.qsearch }}">
                            {% endif %}
                            <label class="form-check-label" for="flexCheckDefault">
                                Produits sans reduction
                        </div>
                        <p class="text-white mx-3 mt-3">Trier:</p>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" {% if not request.GET.order_by or request.GET.order_by == "default" %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                               Par default
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" {% if request.GET.order_by == "price" %}checked {% endif %}>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Du moins cher au plus cher
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" {% if request.GET.order_by == "-price" %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault3">
                                Du plus cher au moins cher
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-3 mt-3">Appliquer</button>
                    </form>
                </div>

                <p><h3>{{catname}}</h3></p>                
               <!-- <div>
                 <p>Nous avons trouvé <strong>{{product.count}}</strong> produit{{product.count|pluralize}}</p>
                </div> -->
                <!-- Карта товара -->
                {% if request.GET.qsearch %}
                <h3 class="mt-4 text-white">Resulats de la requete {{request.GET.qsearch }}</h3>
                {% if not products %}
                <h3 class="mt-4"> Aucun resutat trouvé </h3>
                {% endif %}
                {% endif %}
                 {% for product  in products %}
                <div class="col-lg-4 col-md-6 p-4">
                    <div class="card border-primary rounded custom-shadow">
                        <img src="{{product.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="{% url 'products:product-detail' slug=product.slug pid=product.pid %}">
                                <p class="card-title">
                                    {% autoescape off %}  
                                    {% if product.headline %}
                                    {{ product.headline }}
                                    {% else %}
                                    {{product.name}}
                                    {% endif %}
                                    
                                    {% endautoescape %}
                                </p>
                            </a>
                            <p class="card-text text-truncate">
                                {% autoescape off %}
                                {% if product.bodyline %}
                                {{ product.bodyline|truncatechars:10 }}
                                {% else %}
                                {{product.description|truncatechars:10}}
                                {% endif %}
                                {% endautoescape %}                                
                               </p>
                            <p class="product_id">{{product.pid}}</p>
                            <p class="product_id">
                            {% autoescape off%}
                               {% if product.footerline %}
                                {{ product.footerline}}
                               {% else %}
                                {{product.category.name}}
                               {% endif %}
                            {% endautoescape %}
                            </p>
                            
                            <div class="d-flex justify-content-between">
                                {% if product.old_price %}
                                <p><s>{{product.old_price}}</s></p>
                                |
                                <p><strong>{{product.price}}</strong></p>
                                <span class="badge bg-warning text-dark text-white">
                                        - {{product.get_discount|floatformat:0}} %
                                </span> 
                                {% else %}
                                <p><strong>{{product.price}}</strong></p>
                                {% endif %} 
                                <a href="{% url 'carts:add-cart' %}" class="btn add-to-cart" id="" data-product-id="{{ product.id }}">
                                    {% csrf_token %}
                                    <img class="mx-1" src="{% static 'assets/icons/cart-plus.svg' %}" alt="Catalog Icon"
                                        width="32" height="32">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


              
            </div>
            <!-- Пагинация -->
             {% if products %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center my-4">
                    <div class="custom-shadow d-flex">
                        <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
                          <a class="page-link" href="{% if products.has_previous %} 
                            ?{% change_params page=products.previous_page_number %}
                          {% else %}
                          #
                          {% endif %}">Précédent</a>
                        </li>

                        {% for page in products.paginator.page_range %}
                        {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                            <li class="page-item {% if products.number == page %} active {% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{page}}</a>
                                
                            </li>
                        {% endif %}
                        {% endfor %}


                        <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if products.has_next %} 
                            ?{% change_params page=products.next_page_number %}
                          
                            {% else %}
                            #
                            {% endif %}">Suivant</a>
                          </li>
                    </div>
                </ul>
            </nav>
            {% endif %}
            <!-- <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center my-4">
                    <div class="custom-shadow d-flex">
                        {% if products.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{products.previous_page_number}}">Précédent</a>
                        </li>
                        {% else %}
                            <li class="page-item disable">
                                <a class="page-link">Précédent</a>
                            </li>
                        {%endif %}
                        {% for num in products.paginator.page_range %}
                            {% if products.number == num %}
                            <li class="page-item active">
                                <a class="page-link">{{num}}</a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ products.next_page_number }}">Suivant</a>
                        </li>
                        {% else %}

                        <li class="page-item disable">
                            <a class="page-link">Suivant</a>
                        </li>
                        {% endif %}
                    </div>
                </ul>
            </nav> -->
        </div>
    </div>
</div>

{% endblock %}