{% extends 'base/base.html' %}

{% block modal_cart %}
    {% include 'includes/cart_button.html'%}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            
            <div class="container mt-5">
                <div class="card mb-4 custom-shadow">
                    <div class="row">
                        <!-- Миниатюры -->
                        <div class="col-md-4">
                            <img src="{{prod.image.url}}"
                                class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                        </div>
                        <div class="col-md-4 ">
                            <p class="product_id mt-3">{{prod.pid}}</p>
                        </div><br>
                        

                        <!-- Увеличить изображение в модальном окне -->
                        <div class="modal fade" id="imageModal1" tabindex="-1"
                            aria-labelledby="imageModal1Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="imageModal1Label">{{prod.name}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{prod.image.url}}"
                                            class="img-fluid" alt="Изображение 1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Описание товара -->
                    <div class="card-body">
                        <h5 class="card-title">{{prod.name}}</h5>
                        <p class="card-text">Categorie: 
                      
                            <strong>{{prod.category.name}}</strong>
                       
                        </p>
                        <p class="card-text">Prix: <strong>{{prod.price}} Fcfa</strong></p>
                        <p class="card-text">{{prod.description}}</p>
                        <a href="{% url 'carts:add-cart' %}" class="btn btn-dark add-to-cart" id=""  data-product-id="{{prod.id}}">
                            {% csrf_token %}
                            Ajouter au panier</a>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
</div>


{% endblock %}