body{
    background-image: url("../images/bg-image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.dropdown-toggle::after {
    content: none;
}
  
.custom-shadow{
    box-shadow: 10px 10px 25px 19px #000
}
